body {
    text-align: center;
    font-size: 27pt;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
}

h1:hover {
    transform: scale(1.1);
    transition: .5s;
}

.image {
    width: 850;
    height: 300;
    margin-left: auto;
    margin-right: auto
}



.images .images2 {
    display: flex;
    justify-content: space-between;

 }

 img:hover {
    transform: scale(1.1);
    transition: .5s;
}
    